body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 236, 236);
    position: relative;
}
.user-form{
    position: absolute;
    width: 400px;
    padding: 20px;
    background-color: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 10%;
    font-size: large;
    top: calc(50vh - 199px);
    left: calc(50vw - 224px);
    display: flex;
    flex-direction: column;
}
.user-form h1{
    margin: 0;
    width: 400px;
    margin-bottom: 21px;
    text-align: center;
    border-bottom-width: 2px;
    border-bottom-color: aquamarine;
    border-bottom-style: solid;
}
.user-form p{
    margin: 20px 0 10px 0;
    font-size: 24px;
}
.user-form span{
    display: inline;
    color: red;
}
.user-form .pass-know{
    margin: 0;
    margin-top: 20px;
    font-size: 16px;
}
.user-form input{
    height: 30px;
    font-size: 24px;
}
.user-form input:hover{
    border-style: solid;
    background-color: rgba(127, 255, 212, 0.274);
}
.user-form input:focus{
    outline-color: aquamarine;
    background-color: rgba(127, 255, 212, 0.274);
}
.go-button{
    margin-top: 20px;
    height: 36px;
    border-style: solid;
    border-radius: 12px;
    border-color: aquamarine;
    border-width: 2px;
    font-size: 24px;
    background-color: rgba(127, 255, 212, 0.274);
}
.quit-button:hover,
.new-pass-button:hover,
.go-button:hover{
    filter: brightness(0.9);
}
.quit-button:active,
.new-pass-button:active,
.go-button:active{
    filter: brightness(1)
}
.new-pass-button{
    border-style: solid;
    border-radius: 12px;
    border-color: aquamarine;
    border-width: 2px;
    background-color: rgba(127, 255, 212, 0.274);
}
.quit-button{
    height: 36px;
    width: 180px;
    border-style: solid;
    border-radius: 12px;
    border-color: aquamarine;
    border-width: 2px;
    font-size: 24px;
    background-color: rgba(127, 255, 212, 0.274);
}