:root{
    --main-color: aquamarine;
    --main-color-back: rgba(127, 255, 212, 0.274);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 236, 236);
}
button{
    text-align: center;
    align-items: center;
    cursor: pointer;
}
button:hover{
    filter: brightness(0.9);
}
button:active{
    filter: brightness(1)
}
h1{
    text-align: center;
}
.func-button{
    background-color: var(--main-color-back);
    border-style: solid;
    border-color: aquamarine;
    border-radius: 1vw;
    padding: 1% 2%;
}
input:hover{
    border-style: solid;
    background-color: rgba(127, 255, 212, 0.274);
}

#burger-button{
    display: none;
}
#main-header{
    display: grid;
    grid-template-columns: min-content min-content 1fr; 
    gap: 1vw;
    padding-bottom: 0.5vh;
    border-bottom-style: solid;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 4px;
    width: 100vw;
    z-index: 100;
    background-color: white;
}
#tel{
    white-space: nowrap;
}
#main-header a {
    text-decoration: none;
    color: black;
}
#logo{
    justify-content: center;
}
#burger-button img,
#logo img{
    width: 32px;
}
#menu{
    display: grid;
    align-items: end;
}
#main{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr 2fr;
    justify-content: space-between;
}
#tel,
#search,
#information,
#main-bar,
#account{
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    justify-items: center;
    align-items: end;
}
#tel:hover,
#search *:hover,
#main-bar *:hover,
#account .account-button:hover,
#information *:hover{
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    text-underline-offset: 4px;
    text-decoration-thickness: 4px;
    cursor: pointer;
}
#account a:hover{
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    text-underline-offset: 4px;
    text-decoration-thickness: 4px;
}


#content{
    margin: 64px 10vw 0 10vw;
}
#content .element{
    margin-bottom: 1vh;
    
}
#image-content,
#fast-search,
#search-form,
#tops,
#facts,
#sub-news,
#change-div{
    background-color: white;
    padding: 2%;
    border-radius: 1vw;
}


#fast-search{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    height: 200px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#fast-search-input{
    display: block;
    width: 736px;
    height: 40px;
    font-size: 20px;
}
#fast-search-input:focus{
    display: block;
    outline-color: aquamarine;
}
#search-block button{
    width: 736px;
    background-color: var(--main-color-back);
    border-style: solid;
    border-color: var(--main-color);
}

#search-form{
    padding-bottom: 4%;
    margin-bottom: 1vh;
    height: 180px;
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#search-form p{
    display: inline;
}
#search-form input:focus{
    outline-color: var(--main-color);
}
#search-form input:hover{
    cursor: pointer;
}
#search-form button{
    width: 90%;
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-bottom: 20px;
}
#search-form p{
    margin-bottom: 0;
}

#change-div{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#change-div p{
    margin: 0;
}
#change-div #change-but{
    width: 80%;
}

#place{
   display: grid;
   grid-template-columns: 1fr;
    gap: 1vh;
}
#image-content,
#tops,
#facts,
#sub-news{
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

#slides{
    display: grid;
    align-items: center;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}
.slide{
    display: none;
    position: relative;
    text-align: center;
}
.top-img,
.slide-img{
    height: 70%;
    overflow: hidden;
}
.top-img img,
.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide button{
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
}
.main-slide{
    text-align: center;
    display: block;
    height: calc(60vw - 8px);
    background-color: var(--main-color-back);
    padding: 16px 12px;
}

#slider-buttons{
    position: absolute;
    bottom: 50;
    right: 0;
    left: 0;
}
#back-button,
#next-button{
    position: absolute;
    bottom: 0;
    width: 64px;
    height: 64px;
    padding: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.315);
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 50%;
    opacity: 0.5;
    font-size: 40px;
}
#back-button:hover,
#next-button:hover{
    opacity: 1;
}
#back-button{
    left: 0;
    margin-left: 10px;
}
#next-button{
    right: 0;
    margin-right: 10px;
}
#counter{
    justify-self: center;
    font-size: 30px;
}

#tops #grid-tops{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.hotel-in-top{
    margin: -4px -2px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    background-color: white;
    padding: 8px 4px;
    text-align: center;
    position: relative;
    height: 40vw;
}
.hotel-in-top h3{
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: var(--main-color);
}
.hotel-in-top p{
    padding-bottom: 50px;
    margin-top: -10px;
    word-break:keep-all;
}
.hotel-in-top button{
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
}
.hotel-in-top:hover{
    background-color: var(--main-color-back);
    cursor: pointer;
}


#facts-grid .node{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "one two";
    border-style: solid;
    border-width: 4px 0 4px 0;
    border-color: var(--main-color);
    padding: 8px 0 8px 0;
    margin-bottom: -4px;
    column-gap: 2%;
}
#facts-grid .one{
    grid-area: one;
    text-align: end;
}
#facts-grid p{
    font-size: large;
}
#facts-grid .two{
    grid-area: two;
}
#facts-grid img {
    width: 60%;
}

#sub-news h2{
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: var(--main-color);
}
#reg-news-form{
    text-align: center;
}


#under{
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: black;
    background-color: white;
    position: absolute;
    right: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20%;
    padding: 1% 1%;
}
#under a{
    text-decoration: none;
    color: black;
}
#under h4{
    text-align: center;
    margin: 0;
    margin-bottom: 1%;
}
#under-info,
#under-nav{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    grid-auto-flow: column;
}
#under-info *,
#under-nav *{
    margin-bottom: 4px;
}
#under-info *:hover,
#under-nav *:hover{
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    text-underline-offset: 4px;
    text-decoration-thickness: 4px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #main-header{
        padding: 0.5vh 4px;
        width: calc(100vw - 8px);
    }
    #tel{
        align-items: center;
    }
    #menu{
        display: flex;
        justify-self: end;
    }
    #main{
        display: none;
    }
    #burger-button{
        display: flex;
    }
    #menu:hover #main,
    #main:hover{
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 54px;
        padding-top: 4px;
        left: 0;
        right: 0;
        background-color: white;
        border-bottom-style: solid;
        margin-top: -4px;
    }
    #main-bar,
    #account{
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    #main div:not(#information, #main-bar, #account){
        padding-bottom: 8px;
        border-top-style: solid;
        width: 100%;
        text-align: center;
        padding-top: 8px;
    }
    #main div:not(#information, #main-bar, #account):active{
        background-color: var(--main-color-back)
    }
    #search *:hover,
    #main-bar *:hover,
    #account .account-button:hover,
    #information *:hover{
        text-decoration: none;
    }

    #content{
        margin: 64px 1vw 0 1vw;
    }
    #content .element,
    #search-form,
    #image-content{
        margin-bottom: 4vw;
    }
    #fast-search{
        height: 220px;
    }
    #fast-search-input{
        width: 70vw;
    }
    #search-block button{
        width: 70vw;
    }  
    #search-form{
        height: 288px;
    } 
    #search-form p {
        display: block;
    }
    #search-form button{
        margin-bottom: 4px;
    }
    #place{
        display: flex;
        flex-direction: column;
    }

    #slides{
        height: 430px;
    }
    .slide{
        height: 100%;
        padding: 8px;
    }
    .slide-img{
        height: 50%;
    }
    .slide-img img{
        width: 90%;
        height: 90%;
        margin-top: 8px;
    }
    #slider-buttons{
        margin-top: 60px;
    }
    #back-button,
    #next-button{
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    #tops #grid-tops{
        grid-template-columns: repeat(2, 50%);
    }
    .hotel-in-top{
        height: 320px;
    }
    .hotel-in-top p{
        word-break:break-all;
    }
    .hotel-in-top h3{
        height: 40px;
    }
    .top-img{
        height: 50%;
    }
    #facts-grid img {
        width: 100%;
    }
    #under-info,
    #under-nav{
        display: flex;
        flex-direction: column;
        word-break: break-all;
    }
}